header{
    font-family: "Poppins", sans-serif;
    margin-top: 47px;
    margin-left: 42px;
    margin-right: 0;
    margin-bottom: 0;
  
}

.link-header{
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.875px;
    margin-right: 32px;
    color: #17233D;
    cursor: pointer;
    text-decoration:  underline;
}

.button-header{
    font-family: "Poppins", sans-serif;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    background: lightgreen;
    color: white;
    border-radius: 6px;
    border: 1px;
    border-color: darkgreen ;
    margin-right: 23px;
    cursor: pointer;
}

.button-header-2{
    font-family: "Poppins", sans-serif;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    background: #6FBF44;
    color: white;
    border-radius: 6px;
    border: 1px;
    border-color:#4CB538;
    margin-right: 23px;
    cursor: pointer;
}

.pwc-img{
    width: 600px;
    height: 500px;
    margin-top: 163px;
    margin-left: 121px;
    display: inline-block;
}

section{
    display: inline-block;
    margin-left: 85px;
}

h1{
    font-family: "Poppins", sans-serif;
    width: 582px;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;

}

p{
    font-family: "Poppins", sans-serif;
    color: #4B505A;
    width: 493px;
    font-weight: 400px;
    font-size: 18px;
    line-height: 33px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.link-section{
    font-family: "Poppins", sans-serif;
    width: 112px;
    height: 27px;
    margin-top: 707px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
    text-decoration:  underline;
}



@media screen and (max-width: 1420px) {
   
    section {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
   
    main {
        order: 0;
        ;
    }

    h1 {
        font-size: 36px;
        font-weight: 52px;
        width: auto;
        margin: 58px 50px 0px 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        font-weight: 24px;
    }

    .pwc-img {
      order: 1;
        position: static;
        max-width: 70%;
        margin-left: 50px;
    }

    .link-section {
        margin: auto;
        display: block;
        text-align:center;
    }

    .link-header{
      margin: 24px 0 0 57px;
      display: none;
    }

    .button-header{
      margin: 24px 0 0 57px;
      display: none;
    }

    .button-header-2{
      width: 91px;
      height: 31px;
      opacity: 1;
      margin-left: 20px;
    }
}